:root {
    --background: rgb(49, 49, 49);
    --white: white;
    --TextColor: white;
    --PrimaryColor:#293063;
    --SecondaryColor:#434fa3; 
    --HoverColor:#0d0f20; 
    --RunColor:green; 
    --RunColorHover:darkgreen; 
    --ModalBackground:rgba(0, 0, 0, 0.863); 
    --FocusColor:rgba(0, 255, 0, 0.377); 
    --CloseColor: darkred; 
    --CloseColorHover:rgb(59, 0, 0);
    --BlackText:black; 
    --ErrorColor:red;

  }

body {
    background-color: var(--background);
    font-family: roboto,sans-serif;
    margin:0; 
}
.PatronInputField {
    display:inline-block; 
    background-color: var(--white);
    border-radius: 0.5em;
    width:35%; 
    height:100%; 
}
#PatronLap {
    width:50%; 
    display:block; 
    float:left; 
    padding:0; 
}
#PatronAct {
    width:50%;
    display:block; 
    float:right; 
    padding:0; 
}
.PatronInputText {
    display: inline-block;
    width:50%; 
    padding-right:10%; 
    text-align: right;
    background-color: var(--SecondaryColor);
    
    border-radius: 5px;
    font-weight: 900;
    font-size:1em; 
    
    
    
}
input:focus{
    background-color: var(--FocusColor);
    color:var(--TextColor); 

}
.Overall {
    background-color: var(--PrimaryColor);
    border: 2px solid rgb(0, 68, 85);
    padding:0; 
    width:100%; 
}
.Patron_Lap_Act {
    display: block;
    width: 100%;
    height: 100%;
}
.Patron_Lap_Act_Label {
    width: 100%;
    background-color: var(--white);
    text-align: center;
    font-size: 4em;
    font-weight: 900;
    margin:0; 

}
.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--SecondaryColor);
    color: var(--TextColor);
    font-weight: 1000;
}
.NavEle {
    float:left; 
    cursor: pointer;
    height: 100%;
}
.NavEle:hover {
    background-color: var(--HoverColor);
}
li a {
    display: block;
    color: var(--TextColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li button {
    color:var(--TextColor); 
    font-weight: 1000;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
}

.PatronSetup {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--PrimaryColor);
    color: white;
    font-weight: 1000;
    width:480px; 
}
.ChemSetup {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--PrimaryColor);
    color: var(--TextColor);
    font-weight: 1000;
    width:735px; 
}
#date {
    display:block;
    height:100%; 
}

.Modal {
    width: 50%;
    color: var(--TextColor);
    background-color: var(--ModalBackground);
    padding: 10px; 
}
h1 {
    font-size: auto;
}
#UpdateLog {
    position: fixed;
    bottom:0; 
    right: 0; 
    border:0; 
    padding:10px; 
    cursor: pointer;
    background-color: var(--RunColor);
    color:var(--TextColor); 
}
#UpdateLog:hover {
    background-color: var(--RunColorHover);
    color:var(--TextColor);
}

.ModelOver {
    position: fixed;
    top:0; 
    left:0; 
    background-color: var(--ModalBackground);
    color:var(--TextColor); 
    width:100%; 
    height: 100%;
}
#close {
    position:fixed; 
    top:0; 
    right:0; 
    background-color: var(--CloseColor);
    color: var(--TextColor); 
    border:0; 
    padding:2%; 
    font-weight: 900;
    font-size: 1em;
}
#close:hover {
    background-color: var(--CloseColorHover);
    cursor: pointer;
}

#SUBMITALL {
    background-color: var(--RunColor);
}
#SUBMITALL:hover {
    background-color: var(--RunColorHover);
}
.ChemIn {
    width: 100%;
    padding: 0;
}
.ChemIn input{
    
    background-color: var(--white);
    padding:0; 
    border:0; 
    width:10%; 
    height:100%; 
    


}
.ChemIn input:focus{
    background-color: var(--FocusColor);
}
.row input {
    color:var(--BlackText);
    font-weight: 900;
}
.row label {
    display: inline-block;
    padding: 0;
    font-weight: 900;
    width: 20%;
    margin:0; 
    text-align: center;
    background-color: var(--SecondaryColor);
    color:var(--TextColor);
    
    
    
}
.row {
    
    
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--PrimaryColor);

    border-left:30%;
    width:100%;
    border-color: var(--PrimaryColor);
}
.heading {
    display: inline-block;
    background-color: var(--white);
    text-align: center;
    font-weight: 900;
    font-size:1em; 
    
    width:10%; 
    height:100%;
    color:var(--BlackText);
}
.heading1 {
    border-style: solid;
    border-left:.5em; 
    border-right:.5em; 
    display: inline-block;
    background-color: var(--white);
    text-align: center;
    font-weight: 900;
    font-size:1em; 
    
    width:8%; 
    height:100%;
}
.radio {
    width: 40px;
    height: 40px;
    
}
#RecCenterSel {
    width:200px; 
    height:48px; 
    color:var(--BlackText);
}
option {
    height: 48px;
}
#instructions {
    width:200px; 
    height: 40px;
    cursor: pointer;
    background-color: var(--RunColor);
    margin:50px; 
    font-weight: 900;
    font-size: 1.5em;
    color:var(--TextColor);
    text-align: center;
}
#instructions:hover {
    background-color: var(--RunColorHover);
}
.InstructionsModal {
    display: none;
    position: fixed;
    top:0; 
    left:0; 
    background-color: var(--ModalBackground);
    color:var(--TextColor); 
    width:100%; 
    height: 100%;
}
.SetupMain {
    background-color: var(--PrimaryColor);
}

.SetupMain p {
    color:var(--TextColor); 
    padding:10px; 
    background-color: var(--SecondaryColor);
}
.SetupMain input {
    margin-left:20px; 
    margin-bottom: 20px;
}
.ChemShow {
    display:block; 
    height: 100px;
    width:45%; 
}
#ActChem {
    float:right; 
}
.ChemShowName {
    width: 100%;
    text-align: center;
    background-color: var(--white);
    padding-top:10px;
    padding-bottom: 10px;
    font-weight: 900;
}
#LapChem {
    float:left; 
}
.ChemShow table {
    width:100%; 
}
#error {
    color:var(--TextColor); 
}
.line1 {
    background-color: var(--SecondaryColor);
}
.ShowPoint {
    background-color: var(--white);
}
.ShowRowName {
    padding-left: 20%;
    font-weight: 900;
    color:var(--TextColor);
}
.line1 th {
    color:var(--TextColor);
    padding-top:2%;
    padding-bottom:2%;
}
.RowPoint {
    background-color: var(--PrimaryColor);
}
.Blank {
    height: 20px;
}
#upload {
    margin-left:40%;
    width: 300px;
    height:100%; 
    color:var(--TextColor);
    background-color: var(--RunColor);
}
#upload:hover {
    cursor: pointer;
    background-color: var(--RunColorHover);
}